@import url("./font.css");
/* Reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* App CSS */
html {
  font-size: 62.5%;
}
body {
  font-family: "vazir";
  color: var(--color--body);
}
h1,h2,button,input{
    font-family: 'vazir';
}
:root {
  --color--body: ##333333;
  --color--primary: #219f95;
  --color--Title: #234894;
  --color--TextLarge: #1e1e1e;
  --color--TextSmall: #696969;
  --color--Box: #afcedd;
  --color--white: #fff;
}

.container{
    width: 100vw;
    height: 100vh;

    padding: 5.6rem;
    margin: 0 auto;
}
.container .container__title{
color: var(--color--TextLarge);
font-size: 1.6rem;
font-weight: 900;
margin-bottom: 1.3rem;

}
.requset__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}
.request-item{

  

}
.upload-info{
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.request__upload{
 display: flex;
 align-items: center;
 justify-content: flex-start;
 gap: 0.6rem;
 flex: 1;
 margin-bottom: 1.6rem;
}
.request__upload > p{
    background-color: var(--color--Box);
    color: var(--color--TextSmall);
    font-size:1rem ;
    font-weight: 900;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.request__upload > span{
 color: var(--color--Title);
 font-size: 1.6rem;
 font-weight: 600;
}
.request__date{
  color: var(--color--TextSmall);
  font-weight: 400;
  font-size: 1.2rem;
  
}
.request__ozviat{
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 gap: 0.3rem;
}
.request__info{

}
.request__view{

}
@media screen and (min-width:768px) {
    .requset__container{
        grid-template-columns: 1fr 1fr;
    }
    .container .container__title{

        font-size: 2.2rem;
    }


}


@media screen and (min-width:1024px) {
    .requset__container{
        grid-template-columns: 1fr 1fr 1fr;
    }


}
